<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>윈윈 쇼핑몰입니다.</title>
    <script src="https://kit.fontawesome.com/187dabceeb.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <header></header> -->
    <%- include('header.ejs') %>
    <main>
        <div class="container">
          <h4>Welcome</h4>
          <h2>WinWin 몰입니다.</h2>
          <p>합리적인 가격에 좋은 상품을 구입할 수 있어요</p>
          <button class="cart"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </main>
</body>
</html>