<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>템플릿 ejs</title>
</head>
<body>
    <h2>데이터 전송 결과</h2>
    <h5><%= title %></h5>
    <h5><%= userInfo.id %>님 환영합니다.</h5>
    <h5>비밀번호: <%= userInfo.pw %></h5>

    <a href="/form">로그인 폼으로 이동</a>
</body>
</html>