<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>템플릿 ejs</title>
</head>
<body>
    <h2>Hi~ <%=name %></h2>
</body>
</html>