<link rel="stylesheet" href="css/style.css">
<header class="active">
    <div class="container">
        <h1>
            <a href="/">WinWin</a>
        </h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/">COMPANY</a></li>
                <li><a href="/contactlist">CONTACT-LIST</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/">SIGNIN</a></li>
            </ul>
        </nav>
    </div>
</header>
